/* CSS Variables */

:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

body {
    background: rgb(122, 7, 7);
    margin: 30px 50px;
    line-height: 1.4;
}

#top_bar {
    position: auto;
    background-color: #369;
    color: #fff;
}

#game {
    position: auto;
    background-color: #fff;
    clip: auto;
    overflow: hidden;
}

#footer_bar {
    position: auto;
    height: 48px;
    background-color: #369;
}

.dialog {
    position: auto;
    height: 460px;
    width: 320px;
    background-color: #369;
    border-radius: 30px;
    border: 2px solid #99f;
    padding: 20px 50px;
    color: #fff;
    text-align: center;
    display: none;
}

.dialog h2 {
    font-size: 28px;
    color: #fff;
    margin: 20px 0 20px;
}

.but_start_game {
    background-color: #f00;
    cursor: pointer;
    border-radius: 15px;
    border: 2px solid #f66;
    font-size: 28px;
    line-height: 60px;
    font-weight: bold;
    text-shadow: 0px 1px 1px #f99;
}

.but_start_game:hover {
    background-color: #f33;
}

#start_game {
    display: block;
}

/* Footer */

.footer {
    margin-top: 2rem;
    background: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1rem;
}